*.mp4 filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
Assets/Electric[[:space:]]Sccoty/Electric[[:space:]]Scooty.fbx filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
